services:
  mysql:
    image: mysql:8.4.6
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: youtube
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p1234"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s

  app:
    image: eclipse-temurin:21-jre
    container_name: spring-app
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./app.jar:/app/app.jar
    working_dir: /app
    command: java -jar app.jar
    env_file:
      - .env

volumes:
  mysql_data:
