services:
  controller:
    image: ngrinder/controller:latest
    container_name: ngrinder-controller
    ports:
      - "8090:80"

  agent:
    image: ngrinder/agent:latest
    container_name: ngrinder-agent
    command: ["controller:80"]
    depends_on:
      - controller